.infinite-scroll-carousel-body{
  position: relative;
  width: 100%;
}

.infinite-scroll-carousel-container {
  position: relative;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 1rem; /* 16px */
  scroll-behavior: smooth;
}

.scroll-bar-hide {
  scrollbar-width: none;
}

.scroll-bar-hide::-webkit-scrollbar {
  display: none;
}

.infinite-scroll-carousel-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #3d485c;
  color: #ffffff;
  cursor: pointer;
}

.left-position {
  left: 2.5rem;
}

@media (min-width: 768px) {
  .left-position {
    left: 5rem;
  }
}

.right-position {
  right: 2.5rem;
}

@media (min-width: 768px) {
  .right-position {
    right: 5rem;
  }
}
